
table {
    width: 80%;
  border-collapse: collapse;
  border: 2px solid black; /* Outer border */
}

table th, table td {
  border: 2px solid black; /* Inner cell borders */
    text-align: left;
    padding: 8px;
}

#logo {
    background-color: white;
}

/*.custom-table {*/
/*    width: 80%;*/
/*    table-layout: fixed;*/
/*    margin: 0 auto;*/
/*    border-collapse: collapse;*/
/*    border: 2px solid black; !* Outer border *!*/
/*}*/
/*.halfwidth {*/
/*    width: 50%;*/
/*}*/

/*.custom-table th, .custom-table td {*/
/*    border: 2px solid black; !* Inner cell borders *!*/
/*    text-align: left;*/
/*    padding: 8px;*/
/*}*/

